
			html{
				overflow: hidden;
			}
			body{
				position: absolute;
				margin: 0px;
				padding: 0px;
				background:url(../img/312.jpg);
			background-repeat: no-repeat;
			background-size: 100%;
			width: 100%;
				height: 100%;
				
				
			}
			#screen{
				position: absolute;
				left: 10%;
				top: 10%;
				width: 40%;
				height: 500px;
				background:lavender;
			margin:0;
				opacity:0.6;
				
			}
			
           #screen img{
           	position:absolute;
           	cursor: pointer;
           	width: 0px;
           	height: 0px;
           	-ms-interpolation-mode: nearest-neighbor;
            
           }
           
           #banklmages{
           	visibility: hidden;
           	
           }
           #FPS{
           	position: absolute;
           	right: 5px;
           		top: 10px;
          /* bottom: 5px;*/
           	font-size: 10px;
           
           	color: darkorange;
           	font-family: verdana;
           	width: 100px;
           	height: 100px;
           	background: url(img/timg (1).gif);
           }
 /*         
#PPP{
	position: relative;
	margin:0px;
	float: right;
	background: fuchsia;
	width: 1226px;
	height: 300px;
	background-repeat: no-repeat;
	background-size: 100%;
}

#ooo{
	position: absolute;
	margin-left: 0px;
	float:right;
	margin-bottom: 10px;
	background: red;
	width: 1260px;
	height: 300px;
	background-repeat: no-repeat;
	background-size: 100%;
	
}*/
#PPP{
	background: red;
	width: 1260px;
	height: 300px;
	margin:0px;
	opacity:0.2;
}
#ooo{
	background:coral;
	width: 160px;
	height: 300px;
	margin:0px;
	color-interpolation-filters: linearRGB;
	opacity: 0.2:
}

#Sh{
	opacity: 0.8;
	margin-left: 70%;
}

#my_video_1{
	
	
}
.img01,.img02,.img03{float:left;padding:0 5px;text-align:center;}
.img01{
	-ms-interpolation-mode:Nearest-Neighbor}
.img02{
	margin-bottom: 0px;
	-ms-interpolation-mode:normal;}
.img03{
	
	-ms-interpolation-mode:bicubic}




	